---
import Social from '../components/Social.astro';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        <Social platform="github" username="ilkermutlu" />
        <Social platform="twitter" username="ilkermutlu" />
        <Social platform="youtube" username="metallica" />
    </p>
</footer>
